body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.Boards {
  display: flex;
  height: 67vh;
  width: 100vw;
  align-items: center;
}
.turn {
  width: 30vw;
}
.Board {
  height: 100%;
  width: 100%;
  margin: 3%;
}
.List {
  height: 25vh;
}

.List ol {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}

li.caption {
  list-style-type: none;
  font-weight: bold;
}
.List span {
  margin-right: 10px;
}
.rotated div {
  transform: rotate(180deg);
}
.rotated svg {
  transform: rotate(180deg);
}
